@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap");

$text_color1: #0a211f;
$main_background_color: #deffea;
$secondary_background_color: #ddeedd;
$heading-color: #862b0d;
$danger: #FE0000;
$base_padding: 1rem;
$base_margin: 1rem;
$sm-borderRadius: 12px;
$md-borderRadius: 21px;
$lg-borderRadius: 33px;
$xl-borderRadius: 44px;
$fontWeight: (
  bold: 900,
  semi_bold: 700,
  normal: 500,
  "less_normal": 400,
);
$fontSizes: (
  normal: 1rem,
  normal1: 1.1rem,
  normal2: 1.2rem,
  normal3: 1.3rem,
  normal4: 1.4rem,
  medium: 1.5rem,
  large: 3rem,
  xl: 5rem,
);

@function defaultBorder(  $color: black, $width: 1px, $type: solid,) {
  $borderStyle: $color $width $type;
  @return $borderStyle
}

$heading_font_fam: Roboto;
$body_font_fam: Montserrat;


@mixin flex($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-direction: $direction;
  // border-radius: $md-borderRadius;
}

@mixin btn($fontsize: 1rem) {
  padding: 0.7rem;
  font-size: $fontsize;
  font-weight: map-get($fontWeight, semi_bold);
  border-radius: $sm-borderRadius;
}

@mixin breakpoint($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}
