@import "../App/variables";
@import "../Header/Header.scss";
@import "../Products/products";
@import '../Cart/Cart';
@import "../Footer/Footer";

body{
  background-color: darken($main_background_color, 4%);
  padding: 0;
  margin: 0;
}
.app {
  background-color: darken($main_background_color, 4%);
  height: 100vh;
  width: 100vw;
  &-title {
    margin-top: 0;
    padding: 0;
  }
}
